@import "tailwindcss";

/* :root {
  --app-primary: #4f46e5;
  --app-primary-hover: #4338ca;
  --app-secondary: #7c3aed;

  --app-background: #f8fafc;
  --app-surface: #ffffff;

  --app-text: #0f172a;
  --app-text-muted: #64748b;

  --app-border: #e2e8f0;

  --app-success: #16a34a;
  --app-danger: #dc2626;
  --app-warning: #f59e0b;
} */
:root {
  --app-primary: #916ff5;
  --app-primary-hover: #8b5cf6;
  --app-secondary: #c084fc;

  --app-background: #0f0b1f;
  --app-surface: #1c1633;

  --app-text: #ffffff;
  --app-text-muted: #a5a0bd;
  --app-border: #382d55;

  --app-success: #4ade80;
  --app-danger: #fb7185;
  --app-warning: #fbbf24;
}
@theme {
  --color-primary: var(--app-primary);
  --color-primary-hover: var(--app-primary-hover);
  --color-secondary: var(--app-secondary);

  --color-background: var(--app-background);
  --color-surface: var(--app-surface);

  --color-text: var(--app-text);
  --color-text-muted: var(--app-text-muted);

  --color-border: var(--app-border);

  --color-success: var(--app-success);
  --color-danger: var(--app-danger);
  --color-warning: var(--app-warning);
}
.table-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--app-border) transparent;
}

.table-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.table-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background: var(--app-border);
  border-radius: 999px;
}

.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--app-text-muted);
}