@import "tailwindcss";

:root {
  --app-primary: #4f46e5;
  --app-primary-hover: #4338ca;
  --app-secondary: #7c3aed;

  --app-background: #f8fafc;
  --app-surface: #ffffff;

  --app-text: #0f172a;
  --app-text-muted: #64748b;

  --app-border: #e2e8f0;

  --app-success: #16a34a;
  --app-danger: #dc2626;
  --app-warning: #f59e0b;
}

@theme {
  --color-primary: var(--app-primary);
  --color-primary-hover: var(--app-primary-hover);
  --color-secondary: var(--app-secondary);

  --color-background: var(--app-background);
  --color-surface: var(--app-surface);

  --color-text: var(--app-text);
  --color-text-muted: var(--app-text-muted);

  --color-border: var(--app-border);

  --color-success: var(--app-success);
  --color-danger: var(--app-danger);
  --color-warning: var(--app-warning);
}